libro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="libro">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titulo" type="xs:string"/>
                <xs:element name="autor" type="xs:string"/>
                <xs:element name="isbn" type="isbnType" minOccurs="0"/>
                <xs:element name="anio" type="xs:gYear"/>
                <xs:element name="genero" type="xs:string"
                            maxOccurs="unbounded"/>
                <xs:element name="disponible" type="xs:boolean"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="isbnType">
        <xs:restriction base="xs:string">
            <xs:pattern value="978-[0-9]{2}-[0-9]{3}-[0-9]{4}-[0-9]"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>